body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: aliceblue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000B58;
    position: relative;
    flex: 1;
    margin: 10px;
    border-radius: 10px;
}

.header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 10px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.konten {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003161;
    position: relative;
    flex: 1;
    margin: 5px;
    height: 820px;
    margin: 10px;
    border-radius: 10px;
    left: 10px;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003161;
    position: relative;
    flex: 1;
    max-width: 250px;
    height: 820px;
    margin: 0px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

.sidebar-header {
    font-size: 30px;
    color: white;
    position: relative;
    box-shadow: 1px white;
    transition: 0,5s;
    justify-content: center;
}

.sidebar-heder:hover{
    bottom: 30px;
    border: 1px solid rgb(0, 132, 255);
}

.sidebar-header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 50px;
    padding-left: 0px;
    font-weight: 1000;
    padding-bottom: 90px;
}

.sidebar-list {
    margin-top: 0px;
    padding: 0;
}

.sidebar-list ul li {
    list-style: none;
}

li.a active {
    background-color: rgb(255, 251, 0);
}

.sidebar-list ul li a {
    display: block;
    line-height: 80px;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    box-sizing: border-box rgb(0, 255, 234);
    width: auto;
    border-top: 3px solid rgb(0, 68, 255);
    color: white;
    top: 0px;
    right: 10px;
}

.sidebar-list ul li a:hover{
    padding-left: 15px;
    color: rgb(255, 166, 0);
}

.header-gbook h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.guest-book {
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(13, 66, 211);
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.entry h3 {
    margin: 0;
}
.entry p {
    margin: 5px 0;
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.alive {
    box-shadow: 0 10px 0 rgb(15, 151, 38);
}

.alive:active {
    box-shadow: 0 5px 0 rgb(247, 170, 4);
    transform: translateY(5px);
}

button {
    padding: 10px;
    background-color: #2ed82e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e9be00;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000B58;
    position: relative;
    flex: 1;
    margin: 5px;
    border-radius: 10px;
    bottom: 0px;
}

.footer footer {
    font-size: 20px;
    margin: 20px;
}